/* first  color : #283149 black */
/* second color : #404B69 gray  */
/* third  color : #F73859 or rgba(247, 56, 89, 0.7); red   */


/* Global */
*{
    font-family: "Trebuchet MS",sans-serif;
}
a:hover{
    text-decoration: none;
}
.second-color{
    color: #F73859;
}


/* Start loading spinner */
.loading {
    -webkit-transition: all ease-in-out 1s;
       -moz-transition: all ease-in-out 1s;
        -ms-transition: all ease-in-out 1s;
         -o-transition: all ease-in-out 1s;
            transition: all ease-in-out 1s;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
}
.loading span{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid transparent; /* Light grey */
    border-radius: 50%;
    -webkit-animation: rotate linear infinite 1.4s;
    -o-animation: rotate linear infinite 1.4s;
    animation: rotate linear infinite 1.4s;
}
.loading span:nth-child(1){
    border-color: #283149 transparent transparent;
    width: 120px;
    height: 120px;
    -webkit-animation-duration: 1.4s;
       -moz-animation-duration: 1.4s;
         -o-animation-duration: 1.4s;
            animation-duration: 1.4s;

}
.loading span:nth-child(2){
    border-color: #42a7b4 transparent transparent;
    width: 100px;
    height: 100px;
    margin: 12px 10px 10px;
    -webkit-animation-duration: 1.2s;
       -moz-animation-duration: 1.2s;
         -o-animation-duration: 1.2s;
            animation-duration: 1.2s;

}
.loading span:nth-child(3){
    border-color: #4ECCA3 transparent transparent;
    width: 80px;
    height: 80px;
    margin: 24px 20px 20px;
    -webkit-animation-duration: .9s;
       -moz-animation-duration: .9s;
         -o-animation-duration: .9s;
            animation-duration: .9s;

}
.loading span:nth-child(4){
    border-color: #F73859 transparent transparent;
    width: 60px;
    height: 60px;
    margin: 36px 30px 30px;
    -webkit-animation-duration: .7s;
       -moz-animation-duration: .7s;
         -o-animation-duration: .7s;
            animation-duration: .7s;

}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@media (max-width: 576px) {
    .loading span{
        top: 40%;
        left: 40%;
    }
}
/* End loading spinner */


/*Start nav bar*/
nav{
    font-weight: bold;
    -webkit-transition: all ease-in-out 0.5s;
       -moz-transition: all ease-in-out 0.5s;
        -ms-transition: all ease-in-out 0.5s;
         -o-transition: all ease-in-out 0.5s;
            transition: all ease-in-out 0.5s;
}
nav.navbar{
    border-bottom:2px solid rgba(247, 56, 89, 0.7);
}
nav.navbar:hover{
    border-bottom:2px solid rgba(238, 238, 238, 0.7);
}
nav div ul li{
    padding-right: 5rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f73859;
}
.nav-link{
    position: relative;
}
.nav-link:after{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    color: #e8e3fd;
    width: 0;
    margin: 8px;
    border-bottom:2px solid;
    content: attr(data-text);
    transition: all ease-in .2s;

}
.nav-link:hover:after{
    width: 100%;
}
@media (max-width: 992px) {

    .nav-link:after{
        margin: 8px 0 0 0 ;
    }
}
@media (max-width: 991px ) {
    .nav-link {
        margin-left: 20px;
    }
}
/*End nav bar*/


/*Start carousal*/
#carousal , .upCarousal{
    height: 100vh;
}
#carousal{
    background: rgba(35, 41, 49, 0.7) url("../img/1-min.jpg");
    background-clip: content-box;
    background-size: cover;
    width: 100%;
}
.upCarousal{
    background-color: rgba(35, 41, 49, 0.7);
}
#carousal .cap1 {
    border:2px solid rgba(247, 56, 89, 0.7);
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    text-shadow: #F73859 2px 2px 5px, #fd9676 2px 2px 5px ;
    right: 15%;
    bottom: 35%;
    left: 15%;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 3rem;
}
/*End carousal*/


/*Start brief*/
#brief{
    background: url("../img/3-min.jpg");
    background-size: cover;
    display: flex;
}
#brief > div{
    background-color: rgba(0,0,0,0.56);
    width: 100%;
}
.img-left{
        width: 40%;
    display: flow;
    float:left;
    content: url("../img/ceo-min.png");
    opacity: .9;
}
.text-right{
    font-family: Tahoma,Arial,sans-serif;
    font-size: 20px;
    width: 60%;
    float: left;
}
.text-right span,
.text-right h3{
    line-height: 3;
    color: #d1d1d1;
    float: left;
}
.text-right span{
    text-align: left;
}
@media (max-width: 1024px) {
    .img-left{
        width: 0;
    }
    .text-right{
        padding-left: 20px;
        width: 100%;
    }
}
@media (max-width: 576px) {
    .text-right span, .text-right h3 {
        line-height: 2;
    }
}
/*End brief*/


/*Start jobs*/
#jobs,#projects{
    min-height: 400px;
    background-color: #EEEEEE;
}
#jobs div p {
    color: #232931;
}
.card {
    -webkit-transition: all ease-in-out 0.2s;
       -moz-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
            transition: all ease-in-out 0.2s;
    -webkit-box-shadow: 0 0 7px 1px #232931;
       -moz-box-shadow: 0 0 7px 1px #232931;
         -o-box-shadow: 0 0 7px 1px #232931;
            box-shadow: 0 0 7px 1px #232931;
}
.card:hover{
    -webkit-transform: scale(1.02);
       -moz-transform: scale(1.02);
         -o-transform: scale(1.02);
            transform: scale(1.02);

    -webkit-box-shadow: 0 0 15px 1px #232931;
       -moz-box-shadow: 0 0 15px 1px #232931;
         -o-box-shadow: 0 0 15px 1px #232931;
            box-shadow: 0 0 15px 1px #232931;
}
@media (min-width: 768px)and (min-width: 576px){
    .card:last-child{
        margin: 10px auto auto auto;
    }
}
@media (max-width: 768px) {
    .card{
        margin: 5px auto;
    }
}
/*End jobs*/


/*Start skills*/
#skills,#contact{
    background-color: #393E46
}
#skills p {
    color: #EEEEEE;
}
figure:hover{
    -webkit-transition: all ease-in-out 0.3s ;
    -moz-transition: all ease-in-out 0.3s ;
    -ms-transition: all ease-in-out 0.3s ;
    -o-transition: all ease-in-out 0.3s ;
    transition: all ease-in-out 0.2s ;

    -webkit-transform: scale(1.05) ;
    -moz-transform: scale(1.05) ;
    -ms-transform: scale(1.05) ;
    -o-transform: scale(1.05) ;
    transform: scale(1.05) ;
}
.vertical{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
.vertical div{
    width: max-content;
    width: -moz-max-content;
    height: 300px;
}
.vertical img{
    max-height: 200px;
    max-width: 200px;
}
/*End skills*/

/*Start projects*/
/*End projects*/

/*Start Contact & Thanks*/
#contact i{
    font-size: 24px;
    -webkit-transition: all ease-in-out 0.3s ;
    -moz-transition: all ease-in-out 0.3s ;
    -ms-transition: all ease-in-out 0.3s ;
    -o-transition: all ease-in-out 0.3s ;
    transition: all ease-in-out 0.2s ;
}
#contact i:hover{
    -webkit-box-shadow:  0 0 4px 0.5px #ffffff;
    -moz-box-shadow:  0 0 4px 0.5px #ffffff;
    box-shadow:  0 0 4px 0.5px #ffffff;
    -webkit-transform: scale(1.2) ;
    -moz-transform: scale(1.2) ;
    -ms-transform: scale(1.2) ;
    -o-transform: scale(1.2) ;
    transform: scale(1.3) ;
}
.fa-facebook-f{
background-color: #4267b2;
color: #FFF;
}
.fa-phone{
color: #FFF;
background: #00ce27;
background: -webkit-linear-gradient(to bottom, #00ce27 0%, #00ce27 100%);
background:    -moz-linear-gradient(to bottom, #00ce27 0%, #00ce27 100%);
background:      -o-linear-gradient(to bottom, #00ce27 0%, #00ce27 100%);
background:         linear-gradient(to bottom, #00ce27 0%, #00ce27 100%);
}
.fa-at{
color: #FFF;
background: #c42844;
}
.fa-instagram{
color: white;
background: #f09433;
background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background:    -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background:      -o-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background:         linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.fa-snapchat-ghost{
color: #FFF;
background: #bdd01f;
background: -webkit-linear-gradient(to bottom, #e5ff22 0%, #bdd01f 100%);
background:    -moz-linear-gradient(to bottom, #e5ff22 0%, #bdd01f 100%);
background:      -o-linear-gradient(to bottom, #e5ff22 0%, #bdd01f 100%);
background:         linear-gradient(to bottom, #e5ff22 0%, #bdd01f 100%);
}
.thankMsg{
    font-size: 18px;
    font-weight: bold;
    color: #d5d5d5;
    text-shadow: #F73859 2px 2px 5px, #fd0000 2px 2px 5px ;
    border-radius: 5px ;
}
@media (max-width: 767px){
    .container{
        text-align: center;
    }
}
/*End Contact & Thanks*/


/*Start footer*/
footer {
    background-color: #1b1e21;
    text-align: center;
}
footer, footer a {
    color: #EEEEEE;
}
footer a:hover{
    color: #cbccce;
}
/*End footer*/